[user]
   name = Dmitri Smirnov
   email = dmixsmi@gmail.com
[diff]
   tool = vimdiff
   context = 3
[merge]
   tool = vimdiff
[color]
   diff = auto
   status = auto
   branch = auto
   interactive = auto
   ui = true
   pager = true
[core]
   editor = vim
   pager = less
[alias]
   dfw = diff --ignore-space-change -w -B
   st = status --column
   st-dirty = status --column --ignore-submodules=dirty
   ci = commit
   amend = commit --amend -C HEAD
   chp = cherry-pick
   br = branch
   co = checkout
   df = diff
   lg = log -p
   fp = format-patch
   sm = submodule
   mt = mergetool
   rb = rebase
   rba = rebase --abort
   rbc = rebase --cont
   rbm = rebase -i master
   rb10 = rebase -i HEAD~10
   rb20 = rebase -i HEAD~20
   lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %C(green)%an%C(reset)%C(bold yellow)%d%C(reset)'
   lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
   lg = !"git lg1"
[push]
   default = simple
[add]
   context = 3
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
